* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    margin-top: 60px;
    margin-bottom: 60px;
}

h4 {
    font-size: 18px;
    color: #E5E7EB;
    margin: 20px;
}

.header-paragraph {
    color: #E5E7EB;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 25%;
    margin-right: auto;
    margin-left: 0;
}

.header-cat {
    max-width: 50%;
    padding: 10px;
}

.header {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    padding-bottom: 80px;
}

.this-is {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-right: 40px;

}

.right-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-paragraph {
    margin-bottom: 20px;
}

.signup {
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    width: 20%;
}

.secton-2 {
    margin-bottom: 60px;
}

.cat-container {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding-left: 20%;
    width: 80%;
}

.persian,
.mainecoon,
.siberian,
.egyptian-mau {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.cat-1,
.cat-2,
.cat-3,
.cat-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
