* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 12%;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.hero {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
}

h4 {
    font-size: 18px;
    color: #E5E7EB;
    margin: 20px;
}

p {
    font-style: light;
}

.header-paragraph {
    color: #E5E7EB;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 25%;
    margin-right: auto;
    margin-left: 0;
}

.header-cat {
    max-width: 50%;
    padding: 10px;
}

.header {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    padding-bottom: 80px;
}

.this-is {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-right: 40px;

}

.right-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-paragraph {
    margin-bottom: 20px;
}

.signup {
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    width: 20%;
}

.section-2 {
    
    background-color: white;
}

.cat-container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0 17%;
    padding-bottom: 100px;
}

.persian,
.mainecoon,
.siberian,
.egyptian-mau {
    object-fit: cover;
    width: 170px;
    height: 170px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.cat-1,
.cat-2,
.cat-3,
.cat-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 {
    background-color: #E5E7EB;
    padding: 50px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 60px;
    text-align: center;
}

.ernest {
    text-align: right;
    padding-right: 90px;
    font-weight: bold;
    letter-spacing: 1px;
}

.section-4 {
    padding: 90px 10%;
    background-color: white;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 10px;
}

.stay-updated,
.latest-info {
    color: white;
}

.stay-updated {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.latest-info {
    font-size: 18px;
    margin: 0;
}

.signup-2 {
    background-color: #3882F6;
    color: white;
    border: 2px white solid;
    border-radius: 8px;
    padding: 8px 35px;
    font-size: 16px;
    margin-top: 10px;
   
}